/* base */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
margin: 0;padding: 0;border: 0;font: inherit;font-style: inherit;font-variant-ligatures: inherit;font-variant-caps: inherit;font-variant-numeric: inherit;font-variant-east-asian: inherit; font-weight: inherit;font-stretch: inherit;font-size: inherit;line-height: inherit;font-family: inherit;vertical-align: baseline; }
body{background-color: #fafafa; font-size:0.9em;}
#header{z-index:10;background-color: white;position:fixed;top:0;width: 100%;border-bottom: 1px solid lightgray; border-bottom: 1px solid #efefef;}
#header-content{display: block;height: 77px;padding: 26px 20px;display: flex;max-width: 1000px;margin:0 auto;transition: all 0.5s;}    
#header-searchbar{font-size:0.9em;height:28px;border: 1px solid #ddd; background-color: #fafafa;border-radius: 2px;text-align: center;}
#header-menu{display:inline-block;width: 120px;}
#header-menu>div{width: 24px;height: 24px;margin-left:16px; float: right;}
#header-menu>div>img{width:100%;}
#header-logo{display: block;height: 32px;display: inherit;}
#header-logo>img:last-child{padding-left:16px;border-left: 1px solid black;}
/* timeline */
#contents{display: flex; margin: 70px auto;}
#sideBar{width:300px; margin-left:28px;}
#side-footer{COLOR:#DDD;font-size: 0.7em;}
#story{width:100%;height:220px;}
#recommand{width:100%;height:200px;margin: 12px 0;}
form[name="comment-frm"]{margin-top: 16px;}
form[name="comment-frm"]>textarea{width: 90%; border: 0;color: #262626;height: 18px;max-height: 80px;outline: 0;padding: 0;resize: none;}
form[name="comment-frm"]>button{display: inline; padding:0;border:none;background-color: white; color:#3897f0;font-weight: 600; opacity: 0.5;}
.base-card{display: flex;background-color:white;border: 1px solid #efefef;border-radius: 3px;}
.cards{display:block;width: 100%;min-width:250px;height: auto;margin-bottom: 15px;}
.cards>img{width: 100%;}
.mini-card>div:first-child{width:100%;height:20px; background-color: white;overflow: hidden;font-size: 0.8em; color: #999;margin-top:12px;padding: 4px 16px;}
.mini-card>div:first-child>span{color:black; font-weight: 600;font-size: 0.8em;}
.my-profile>div>span:first-child{font-size: 14px;line-height: 18px;margin-bottom: 4px;}
.my-profile{margin-bottom: 16px;}
.profile{display: flex;float:left;width:90%;padding:16px;height:60px;-webkit-box-align: center;align-items: center;}
.profile>img{margin-top: 4px;}
.profile>div{margin-left: 14px;line-height: 15px;font-size: 12px;}
.profile>div>a:first-child{font-weight: 600;color: #262626;}
.profile>div>a:last-child{font-weight: 400;font-size: 12px;color: #999;}
.card-etc>div{padding: 0 0 4px 16px;}
.card-etc>img{width: 100%;}
.like-counts{font-weight: 600;color: #262626;line-height: 18px;font-size: 14px;}
.comments{font-size: 14px;line-height: 18px;}
.comments>span{font-weight: 600;}
.comment-write{padding: 10px 0; border-top: 1px solid #efefef;color: #999;-webkit-flex-shrink: 0;-ms-flex-negative: 0;flex-shrink: 0;font-size: 14px;line-height: 18px;min-height: 56px;-webkit-box-pack: center;}
.feed-upload-time{color: lightgray;font-size: 12px;}
.scrolled{padding:10px 20px !important;height:45px !important;opacity: 0.9 !important;}
.more-option{width:10%;color:gray;float:left;font-weight:bold;font-size: 28px;}
.card-iconarea>img{width: 24px;height: 24px;}
.card-iconarea{margin-top:5px;}
/* mypage */
#my_profile_section{width:100%;}
#my_profile_section_img{display:flex;float:left;width:28%;}
#my_profile_section_img>img{margin:0 auto;overflow:hidden;}
#my_profile_section_content{float:left;}
#my_profile_section_content>div{margin-bottom:20px;}
#my_profile_section_content>div>h1{font-size: 28px;line-height: 32px;font-weight:400;}
#tap_contents{display:inline-block;width:100%;height:100px;border-top:1px solid #efefef;}
#tap_menus>a>span{margin-left: 2px;}
#tap_menus>a>i{color:gray;}
.my_profile_count>span{display:inline-block;font-size: 16px;margin-right: 20px;}
.my_profile_count>span>span{font-weight: bold;margin-left: 4px;}
.my_profile_name{font-weight: 600}
.feed_area{width:100%;padding: 0;margin:0;}
.feed_area>div{display:inline-block;padding:10px;}
.feed_area>div>img{width: 100%;height:100%;}
.tap_area_count>div{width:33%;padding: 10px 0;text-align:center;color:gray;}
.tap_area_count>div>span{font-weight: bold;margin-left:10px;color:black;}
.feed_area>div>img:hover{opacity: 0.5;}
/* modal */
#imgmodal{width:90%;margin:0;padding:5%;}
#imgmodal_right{width:40%; height:100%; background-color: white;}
.modal-dialog{display: flex; width:100%;margin:0;padding: 0;}
.detail_picture{width:60%;}
.detail_picture>img{width:100%;height:100%;overflow:hidden;padding:0;margin:0;}
.base_s,.base_b{font-weight: bold;}
@media (max-width: 578px) { 
    /* none */
    #sideBar{display: none;}
    #header-menu{position:fixed;right:25px;}
    #header-searchbar{display: none;}
    #tap_menus>a>span{display: none;}
    .my_profile_count{display: none;}

    #cardSection{width:90%;margin: 0 5%;}
    #header-content{width: 100%;}
    #contents{width: 100%;padding-top:30px;}
    #header-logo{display: block;}
    #header-menu{margin-left:10%;}
    #header-menu>img{margin-left: 10px;}
    form[name="comment-frm"]>textarea {width: 85%;}
    .like-counts{font-size: 0.7em;}
    .comments{font-size: 12px;}
    .comment-write{font-size: 12px;height:40px;}
    .feed-upload-time{font-size: 10px;}
    #my_profile_section_img>img{width:77px;height:77px;border-radius:38.5px;}
    #my_profile_section_content{padding-top:0px;}
    #my_profile_section_content>div>h1{font-size: 18px;line-height: 24px;font-weight:400;}
    #tap_menus{width: 100%;margin:0;border-top:1px solid #efefef;}
    #tap_menus>a{display:inline-block; width:25%; padding: 3% 0;}
    #tap_menus>a>i{margin-left:50%;}
    .feed_area>div{width: 33.3%;padding:1px;}
    .feed_area>div:nth-child(3n){margin:0;padding: 1px;padding-right: 0;}
}
@media (min-width: 578px) and (max-width: 768px) { 
    /* none */
    #sideBar{display: none;}
    #tap_menus>a>span{display: none;}
    #cardSection{margin: 0 auto;}
    .my_profile_count{display: none;}

    #contents{width: 100%;padding-top:60px;}
    #cardSection{width:90%;}
    #header{width: 100%;}
    #header-content{width: 100%;}
    #header-logo{width: 30%;}
    #header-searchbar{width:40%;}
    #header-menu{width: 40%;}
    #header-menu>img{margin-left: 30px;}
    #my_profile_section{height:100px; margin-bottom: 32px;}
    #my_profile_section_img>img{width:77px;height:77px;border-radius:75px;}
    #my_profile_section_content{padding-top:10px;}
    #my_profile_section_content>div>h1{font-size: 28px;line-height: 32px;font-weight:400;}
    #tap_menus{width: 100%;margin:0;border-top:1px solid #efefef;}
    #tap_menus>a{margin: 0;padding: 3% 0; margin:0;}
    #tap_menus>a>i{margin-left:50%;}
    #tap_menus>a>span{margin:0 auto;}
    .feed_area>div{width: 100%;padding:2px;}
    .feed_area>div>img{width:100%;height:100%;overflow: hidden;}
}
@media (min-width:769px) {
    /* none */
    .tap_area_count{display: none;}

    #cardSection{width:620px;}
    #header-searchbar{width:215px;}
    #contents{width: 950px;padding-top:60px;}
    #header-logo{width: 40%;min-width:180px;}
    #header-menu{width: 40%;}
    #header-menu>img{margin-left: 30px;}
    #my_profile_section{height:150px; margin-bottom: 44px;}
    #my_profile_section_img>img{width:150px;height:150px;border-radius:75px;}
    #my_profile_section_content{padding-top:20px;}
    #tap_menus{width: 440px;margin:0 auto;}
    #tap_menus>a{padding:15px 0;width: 70px;padding-left: 20px;}
    #tap_menus>a>span{margin-left: 5px;}
    #tap_menus>a>span>i{margin-right: 10px;}
    #tap_menus>a{display: inline-block; font-size:12px;}
    .feed_area>div:nth-child(3n){margin:0;padding: 10px;}
    .tap_menu_active{border-top: 1px solid black;}
}