body{
    margin: 0 auto;
    padding: 0;
    background-color: #efefef;
    font-family: 'Varela Round';}
a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;}
a:hover {
  color: #333333;
  text-decoration: none;}
p{font-size: 0.9em;}
button{
    border-style: none;
    background: none;
}
#top{
    background-color: darkgray;
    opacity: 0.9;
    min-width: 550px;
    position: fixed;
    top: 0;
    left: 0; right: 0;
    margin:auto;}
#top-bar>div,center{float: left}
.top-menu>img,#menu-icon{
    width: 80px;height: 50px;
    padding: 8px 23px;margin:0;
    margin: 0 auto;
    float: left;}
#menu-icon:hover{
    background-color: black;
    transition: all 0.5s;}
.top-search{
    padding: 0 30px; margin: 0 135px;}
#search{
    float: left;
    min-width: 460px;
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    border: solid 1px darkgray;}
.top-search>img{
    float: left;
    height: 25px;
    width: 25px;
    padding: 3px;
    margin: 12px 0;
    border-radius: 12px;
    overflow: hidden;
    background-color: gray;}
#search-icon:hover{
    transition: all 0.7s;
    transform: 3s;
    transform: scale(1.2,1.2);}
#top-bar{
    width: 1075px;
    margin: 0 auto;}
#upload{
	float:left;
    width: 500px;
    margin: 70px auto 0  auto;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    border: solid 1px darkgray;}
#upload-form{
    width: 500px;
    margin: 0 auto;}
#select{
	float:left;
    width: 499px;
    height:60px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;}
#select-bt{
    background-color: #DBDBDB;
    margin: 0;padding: 0;
    width: 249px;
    height:60px;
    float: left;}
#preview{
	float:left;
	border-bottom:dotted 1px gray;
    width:498px;height: 490px; 
    margin: 10px 0;
    padding: 0;}
#upload-bottom{
	float:left;
    margin: 5px auto;}
#submit-bt{
    width: 150px;
    height: 50px;
    margin:10px;
    padding:5px;
    margin: 10px 174px;
    background-color:#BEBEBE;}
#up-content{
	width: 450px;
	height:70px; 
	margin: 10px 24px;}
/*하단메뉴*/
#bottom{
    background-color: white;
    opacity: 0.8;
    min-width: 550px;
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    margin: auto;}
#menubar{
    height: 50px;
    width: 1000px;
    margin: 0 auto;}
.menu{
    /*box-shadow: 0.5px 0.5px 1px grey;*/
    height: 50px;
    width: 250px;
    margin: 0;
    padding: 5px 100px 0 100px;
    float: left;}
.menu:hover{
    background-color: darkgrey;
    transition: all 0.5s;}
.icon{
    height: 40px; 
    width: 40px; 
    padding: 10px;
    margin: 0 auto;}